[ACCOUNT]
account_name = devstorageaccount1
primary_access_key = Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
secondary_access_key = 
end_point = core.chinacloudapi.cn
use_https = true
use_dev_account = true

