<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Faker.Net" version="1.5.150" targetFramework="net472" />
  <package id="FastMember" version="1.1.0" targetFramework="net461" />
  <package id="Interop.UIAutomationClient" version="10.18362.0" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="System.Management" version="4.7.0" targetFramework="net461" />
</packages>