<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastMember" version="1.1.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net461" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net461" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net461" />
</packages>