<!-- 2015-07-17T15:19+08:00 -->
<!doctype html>
<title>Seveny</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
  <h1>Seveny</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">登录</a>
  {% else %}
    <a href="{{ url_for('logout') }}">注销</a>
  {% endif %}
  </div>

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}
</div>