<!DOCTYPE html>
<html lang="zh-CN">
<!-- 2015-07-17T15:19+08:00 -->
<head>
    <title>Seveny</title>
    <meta name="author" content="myd7349">
    <meta name="description" content="7&yen;">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul>
        <li><a href=""></a></li>    
    </ul>

    <div class=page>
        <h1 >Seveny</h1>
        <div class=metanav>
        {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">登录</a>
        {% else %}
            <a href="{{ url_for('logout') }}">退出</a>
        {% endif %}
        </div>

        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
</body>
</html>