<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net40-Client" />
  <package id="FastReport.OpenSource" version="2020.3.0" targetFramework="net40-Client" />
  <package id="FastReport.OpenSource.Export.PdfSimple" version="2020.3.0" targetFramework="net40-Client" />
</packages>