<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net40-Client" />
  <package id="FastReport.Compat" version="2022.2.0" targetFramework="net40-client" />
  <package id="FastReport.OpenSource" version="2022.2.12" targetFramework="net40-client" />
  <package id="FastReport.OpenSource.Export.PdfSimple" version="2022.2.12" targetFramework="net40-client" />
</packages>